.primary-text {
  color: #fd6e0a;
}
.primary-button {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 12px 30px ;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Lato" sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  align-items:center ;
}
nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

.myname {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
}
