.primary-text {
  color: #fd6e0a;
}
.primary-button {
  border-radius: 5px;
  background: #fd6e0a;
  border: 100;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 12px 30px ;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Lato" sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 190px;
}
nav > ul {
  display: flex;
  align-items:center ;
}
nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

.myname {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
}
.banner{
    padding: 40px 150px 0px 180px;
    display: flex;
    align-items: center;
}
.profile-pic{
    width: 380px;
    height: 400px;
    border-radius: 20px;
}
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 900px;
    background-position-x: 415px;
}
